<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/fFeCe4TQmu7PEkGnmgq7_4.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="">
            <img src="img/W1gYTWXqQM2ew5cajGFr_3.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="home-form3" class="list ">
            <div class="spacer" style="width: 300px; height: 8px;"></div>
            <label class="item item-select " id="home-select2">
                <span class="input-label">Sports</span>
                <select>
                    <option></option>
                </select>
            </label>
        </form>
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="home-video3" class=" ">
            <iframe src="https://www.youtube.com/embed/et1ez5m76i0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>